html
{
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}

#simscreen
{
	position: relative;
	left:0px;
	top:0px;
	height: 600px; 
	width:800px;
	border:solid 1px;
	background-color:#000;
}

#title{
	position:relative;
	left: 1px;
	top: 1px;
	height:53px;
	width:794px;
	font-size: 22px;
	text-align:center;
	background-color: black;
	font-family: verdana;
	color: White;
	text-transform: uppercase; 
	border:2px solid #fff;
}

#title h3
{
	padding-top:10px;
	margin:0px;
}	

.simsubscreen
{
	position:absolute;
	left:1px;
	top:59px;
	height:520px;
	width:794px;
	border:2px solid #fff;
}

.incanvas
{
	margin:7.5px 0 0 7.5px;
	padding:5px;
}

#nextButton
{
	position:absolute;
	left:752px;
	top:530px;
	cursor:pointer;
}

#copyright{
	position: absolute;
	left:200px;
	top: 583px;
	font-size:12px;
	color:white;
}

@-webkit-keyframes rotate
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@keyframes rotate
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

@-webkit-keyframes point
{
	0% {top:105px;}
	50% {top:125px;}
	100% {top:105px;}
}

@keyframes point
{
	0% {top:105px;}
	50% {top:125px;}
	100% {top:105px;}
}