html
{
    -moz-user-select     : none;
    -khtml-user-select   : none;
    -webkit-user-select  : none;
    -o-user-select       : none;
    user-select          : none;
}

#simscreen
{
	position: relative;
	left:0px;
	top:0px;
	height: 650px; 
	width:948px;
	border:solid 1px;
	background-color:#000;
}

#title{
	position:relative;
	left: 1px;
	top: 1px;
	height:53px;
	width:944px;
	font-size: 22px;
	text-align:center;
	background-color: black;
	font-family: verdana;
	color: White;
	text-transform: uppercase; 
	border:2px solid #fff;
}

#title h3
{
	padding-top:10px;
	margin:0px;
}	

.simsubscreen
{
	position:absolute;
	left:1px;
	top:57px;
	height:565px;
	width:944px;
	border:2px solid #fff;
}

.incanvas
{
	margin:7.5px 0 0 7.5px;
	padding:5px;
}

#nextButton
{
	position:absolute;
	left:752px;
	top:530px;
	cursor:pointer;
}

#copyright{
	position: absolute;
	left:285px;
	top: 631px;
	text-align:center;
	font-size:12px;
	color:white;
}

.bits
{
	padding:2px; 
	color:black; 
	font-size:11px; 
	font-weight:bold;
}
.output
{
	position:absolute; 
	left:805px; 
	background-color: #CCFF66; 
	width:21px; 
	height:21px;
	border-radius:13px; 
	border:2px solid #33FFCC;
	visibility:hidden;
}

@-webkit-keyframes rotate
{
	from {transform:rotate(0deg);}
	to {transform:rotate(-360deg);}
}

@keyframes rotate
{
	from {transform:rotate(0deg);}
	to {transform:rotate(-360deg);}
}